<ul class="widgets">
	<li>
		<ul id="side-facts">
			<li id="school-days-lost">
				<h2>400 MILLION SCHOOL DAYS</h2>
				<p>Are lost each year due to poor sanitation.</p>
                <img src="{{ STATIC_URL }}images/side-facts/school_days_lost.png" />
			</li>
			<li id="hand-washing">
				<h2>MILLIONS OF <br />CHILDREN</h2>
				<p>Are saved <br />by routine<br /> hand-<br />washing <br />with soap.</p>
			</li>
			<li id="lack-sanitation">
				<h2>2.6 BILLION <br />PEOPLE</h2>
				<p>Lack<br /> access <br />to basic<br /> sanitation<br /> worldwide.</p>
			</li>
			<li id="toilet-invention">
				<h2>TOILETS SAVE</h2>
				<p>More lives than<br /> any other<br /> invention.</p>
			</li>
			<li>
				<h2 class="bold">OUR WORK</h2>
				<p>Aims to deliver proper sanitation to schools in Kenya, enhancing health
				and enabling education.</p>
			</li>
		</ul>
	</li>
</ul>
